* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #13161a;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: background 0.6s ease;
}

.app {
  position: relative;
  width: 60%;
  background: #1b1f24;
  border-radius: 10px;
}

.pointer {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -25px, 0);
  height: 40px;
  z-index: 2;
}

.scope {
  overflow: hidden;
}

.list {
  position: relative;
  display: inline-flex;
  left: 0;
  transform: translate3d(0, 0, 0);
  list-style: none;
  transition: 7.9s cubic-bezier(0.21, 0.53, 0.29, 0.99);
}

.list__item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  opacity: 0.6;
  transition: 0.3s ease;
}

.list__item:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}

.list__item-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: 0.3s ease;
}

.list__chance-color {
  position: absolute;
  bottom: 0;
  width: 197px;
  height: 5px;
}

.active {
  opacity: 1;
}

.active-img {
  transform: scale(1.05);
}

.start-button {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate3d(-50%, 20px, 0);
  padding: 8px 25px;
  background: #67aeff;
  color: white;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.start-button:hover {
  opacity: 0.8;
}

.install-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: wheat;
  display: none;
}
.icon {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 45%;
}
.subtitle {
  font-size: x-large;
  width: 100%;
  text-align: center;
  color: black;
}
.wrapper {
  width: 100%;
  text-align: center;
}
.download-button {
  margin: 10% 0 0;
  padding: 15px 30px;
  background-color: black;
  color: aliceblue;
  font-size: 21px;
}

.popup-active {
  display: none;
}

.block-button {
  opacity: 0;
  position: absolute;
  margin: 10% 0 0;
  padding: 15px 30px;
  color: aliceblue;
  font-size: 21px;
  left: 50%;
  top: 100%;
  transform: translate3d(-50%, 50px, 0);
  background: red;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 3s ease;
}

.button-active {
  opacity: 1;
}

.body__theme_light {
  transition: background 0.6s ease;
  background: whitesmoke;
}
/*
.list__item_theme_light {
  background: grey;
}

.list__item_theme_light:nth-child(2n) {
  background: rgba(245, 245, 245, 0.8);
} */

.app__theme_light {
  background: #777778;
  opacity: 1;
}

/* #9d9d9e
#777778*/

/* .app__theme_light:nth-child(2n) {
  background: rgba(255, 255, 255, 0.8);
} */

.start-button__theme_light {
  border: none;
  background: black;
  color: white;
}

.swap-theme-button {
  position: absolute;
  bottom: -160px;
  left: 50%;
  margin-left: -20px;
  padding: 20px 20px;
  background-image: url(./images/sun.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  transition: background-image 0.3s linear;

  /* Отключение выделения на мобильных устройствах */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swap-theme-button__theme_light {
  background-image: url(./images/moon.png);
  background-size: 35px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .app {
    position: relative;
    width: 95%;
    background: #1b1f24;
    border-radius: 10px;
  }

  .app__theme_light {
    background: #777778;
    opacity: 1;
  }

  .install-screen {
    display: block;
  }
}

@media all and (display-mode: fullscreen) {
  .install-screen {
    display: none;
  }
}
