:root {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  /* background-color: var(--color-root, hsl(0deg, 0%, 0%)); */
  /* background-color: #13161a; */
  color: var(--color-text, hsl(210deg, 15%, 96%));
  /* background-image: radial-gradient(#222, rgba(255, 255, 255, 0)); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

.body {
  background: #13161a;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: background 0.6s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 90%;
  width: 120rem;
}

.header {
  padding: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-family: "DancingScript-Regular", serif;
  font-size: 2rem;
  font-weight: 900;
  color: aliceblue;
  text-decoration: none;
}

.roulette {
  position: relative;
  margin: 25rem 0 0 0;
}

.app {
  position: relative;
  margin: 0 auto;
  background: #1b1f24;
  border-radius: 10px;
  overflow: hidden;
}

.scope {
  overflow: hidden;
}

.list {
  position: relative;
  display: inline-flex;
  left: 0;
  min-height: 150px;
  transform: translate3d(0, 0, 0);
  list-style: none;
  /* transition: 7.9s cubic-bezier(0.21, 0.53, 0.29, 0.99); */
  transition: 15s cubic-bezier(0.21, 0.53, 0.29, 0.99);
  /* transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.99); */
}

.list__item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  opacity: 0.5;
  transition: 0.3s ease;
}

.list__item:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}

.list__item-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: 0.3s ease;
}

.list__chance-color {
  position: absolute;
  bottom: 0;
  width: 19.7rem;
  height: 0.5rem;
}

.active {
  opacity: 1;
}

.active-img {
  transform: scale(1.05);
}

.buttons-wrapper {
  margin: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.start-button {
  padding: 1rem 3rem;
  background: #67aeff;
  color: white;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.start-button:hover {
  opacity: 0.8;
}

.start-button_disabled {
  opacity: 0.3;
}

.start-button:hover.start-button_disabled {
  opacity: 0.3;
}

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: wheat;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu_active {
  display: block;
}

.menu__close-button {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background: url(../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

.install-screen {
  /* width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: wheat;
  display: none; */
}
.icon {
  display: block;
  width: 30rem;
  margin: auto;
  margin-top: 20rem;
}
.subtitle {
  font-size: x-large;
  margin-top: 7rem;
  width: 100%;
  text-align: center;
  color: black;
}
.wrapper {
  width: 100%;
  text-align: center;
}
.download-button {
  margin: 7rem 0 0;
  padding: 1rem 2rem;
  background-color: black;
  color: aliceblue;
  font-size: 2.1rem;
}

.popup-active {
  display: none;
}

.burger-menu__button {
  background: url(../images/random-icon_white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.5rem;
  height: 5.5rem;
  border: none;
  cursor: pointer;
}

.block-button {
  opacity: 0;
  position: absolute;
  margin: 10% 0 0;
  padding: 1.5rem 3rem;
  color: aliceblue;
  font-size: 2.1rem;
  left: 50%;
  top: 100%;
  transform: translate3d(-50%, 50px, 0);
  background: red;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 3s ease;
}

.button-active {
  opacity: 1;
}

.body__theme_light {
  transition: background 0.6s ease;
  background: whitesmoke;
}

.app__theme_light {
  background: #777778;
  opacity: 1;
}

.start-button__theme_light {
  border: none;
  background: black;
  color: white;
}

.swap-theme-button {
  padding: 2rem 2rem;
  background-image: url(@/images/sun.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  transition: background-image 0.3s linear;

  /* Отключение выделения на мобильных устройствах */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swap-theme-button__theme_light {
  background-image: url(@/images/moon.png);
  background-size: 3.5rem;
  cursor: pointer;
}

.pointer {
  background-image: url(@/images/pointer-theme-dark.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 0.5rem;
  transform: translate3d(-50%, -25px, 0);
  height: 4rem;
  width: 4rem;
  z-index: 2;
}

.pointer-theme-dark {
  background-image: url(@/images/pointer-theme-dark.png);
}

.pointer-theme-light {
  background-image: url(@/images/pointer.png);
}

.header-menu {
  display: flex;
  justify-content: space-between;
  background-color: #13161a;
  padding: 2rem 1rem;
  position: fixed;
  width: 90%;
  z-index: 5;
}

.game-selection__close-button {
  background-image: url(@/images/back-button_white.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 4rem;
  height: 4rem;
  border: none;
  cursor: pointer;
}

.game-selection__title {
  font-size: 3rem;
}

.header-menu__logo {
  width: 4rem;
  height: 4rem;
}

.search__wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}

.input-game-search {
  width: 100%;
  outline: none;
  padding: 0 30px;
  line-height: 5rem;
  border-radius: 1rem;
  border: 2px solid azure;
  color: azure;
  font-size: 2rem;
  background: transparent;
  margin: 10rem 0 0 0;
  box-sizing: border-box;
}

.input-game-search::placeholder {
  transition: opacity 0.3s ease;
}

.input-game-search:focus::placeholder {
  opacity: 0;
}

.game-sorting__select {
  border: none;
  /* appearance: none; */
  padding: 0 3rem 0 1.5rem;
  /* width: 100%; */
  color: white;
  background-color: #67aeff;
  font-size: 2rem;
  margin: 10rem 0 0 0;
  border-radius: 10px;
}

.popup {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  position: absolute;
  z-index: 5;
  background: #13161a;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow-y: auto;
}

.popup-wrapper {
  margin: 0 auto;
  max-width: 90%;
}

.game-library__item {
  position: relative;
  cursor: pointer;
}

.game-library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.game-library__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.overlay-logo {
  width: 50px;
  height: 50px;
}

.overlay_active {
  opacity: 1;
  visibility: visible;
}

.warning {
  width: max-content;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.warning__wrapper {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.warning__img {
  width: 3rem;
}

.warning__text {
  font-size: 2rem;
  padding: 0 0 0 1rem;
  color: #f2f2f2;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1024px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
  .roulette {
    margin: 30rem 0 0 0;
  }

  .input-game-search {
    line-height: 4rem;
  }
  .game-library {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1.4rem;
    width: 100%;
    justify-content: center;
    list-style-type: none;
  }

  .search__wrapper {
    grid-template-columns: 4fr 1fr;
  }

  .game-sorting__select {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 500 * 10);
  }

  .page {
    max-width: 95%;
  }

  .roulette {
    margin: 20rem 0 0 0;
  }

  .input-game-search {
    line-height: 3rem;
    font-size: 1.4rem;
    padding: 0 20px;
  }

  .game-library {
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: calc(100vw / 500 * 10);
  }

  .roulette {
    margin: 30rem 0 0 0;
  }
  .start-button {
    padding: 1.5rem 4rem;
  }

  .list__item {
    width: 30rem;
  }

  .list__chance-color {
    width: 29.7rem;
  }

  .game-sorting__select {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 480px) {
  .app {
    position: relative;
    background: #1b1f24;
    border-radius: 10px;
  }

  .install-screen {
    display: block;
  }

  .start-button {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  html {
    font-size: calc(100vw / 375 * 10);
  }

  .list__item {
    width: 20rem;
  }

  .list__chance-color {
    width: 19.7rem;
  }

  .input-game-search {
    line-height: 4rem;
    font-size: 1.4rem;
    padding: 0 20px;
  }

  .search__wrapper {
    grid-template-columns: 1fr;
  }

  .game-sorting__select {
    height: 4rem;
    font-size: 2rem;
    margin: 0;
  }

  .game-library {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    width: 100%;
    justify-content: center;
  }
}

/* @media all and (display-mode: fullscreen) {
  .install-screen {
    display: none;
  }
} */
