:root {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  /* background-color: var(--color-root, hsl(0deg, 0%, 0%)); */
  /* background-color: #13161a; */
  color: var(--color-text, hsl(210deg, 15%, 96%));
  /* background-image: radial-gradient(#222, rgba(255, 255, 255, 0)); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

.body {
  /* min-height: 100vh; */
  background: #13161a;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: background 0.6s ease;
}

.page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 100vh;
  margin: 0 auto;
  max-width: 90%;
  width: 120rem;
}

.header {
  padding: 4rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 3px red solid; */
}

.header__logo {
  font-family: "DancingScript-Regular", serif;
  font-size: 3rem;
  font-weight: 900;
  color: aliceblue;
  text-decoration: none;
  /* width: 13rem;
  height: 7rem; */
  /* outline: 3px red solid; */
}

.roulette {
  position: relative;
  margin: 40rem 0 0 0;
}

.app {
  position: relative;
  /* width: 120rem; */
  /* max-width: 90%; */
  margin: 0 auto;
  background: #1b1f24;
  border-radius: 10px;
  overflow: hidden;
}

.scope {
  overflow: hidden;
}

.list {
  position: relative;
  display: inline-flex;
  left: 0;
  transform: translate3d(0, 0, 0);
  list-style: none;
  /* transition: 7.9s cubic-bezier(0.21, 0.53, 0.29, 0.99); */
  transition: 15s cubic-bezier(0.21, 0.53, 0.29, 0.99);
  /* transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.99); */
}

.list__item {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  opacity: 0.5;
  transition: 0.3s ease;
}

.list__item:nth-child(2n) {
  background: rgba(0, 0, 0, 0.1);
}

.list__item-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transition: 0.3s ease;
}

.list__chance-color {
  position: absolute;
  bottom: 0;
  width: 19.7rem;
  height: 0.5rem;
}

.active {
  opacity: 1;
}

.active-img {
  transform: scale(1.05);
}

.buttons-wrapper {
  margin: 10rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.start-button {
  /* position: absolute;
  left: 50%;
  top: 100%; */
  /* transform: translate3d(-50%, 20px, 0); */
  padding: 1rem 3rem;
  background: #67aeff;
  color: white;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.start-button:hover {
  opacity: 0.8;
}

.menu {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: wheat;
  display: none;
}

.menu_active {
  display: block;
}

.menu__close-button {
  background: url(../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

.install-screen {
  /* width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: wheat;
  display: none; */
}
.icon {
  display: block;
  width: 30rem;
  margin: auto;
  margin-top: 3rem;
}
.subtitle {
  font-size: x-large;
  width: 100%;
  text-align: center;
  color: black;
}
.wrapper {
  width: 100%;
  text-align: center;
}
.download-button {
  margin: 10% 0 0;
  padding: 1.5rem 3rem;
  background-color: black;
  color: aliceblue;
  font-size: 2.1rem;
}

.popup-active {
  display: none;
}

.burger-menu__button {
  background: url(../images/random-icon_white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 5.5rem;
  height: 5.5rem;
  border: none;
  cursor: pointer;
}

.block-button {
  opacity: 0;
  position: absolute;
  margin: 10% 0 0;
  padding: 1.5rem 3rem;
  color: aliceblue;
  font-size: 2.1rem;
  left: 50%;
  top: 100%;
  transform: translate3d(-50%, 50px, 0);
  background: red;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 3s ease;
}

.button-active {
  opacity: 1;
}

.body__theme_light {
  transition: background 0.6s ease;
  background: whitesmoke;
}

.app__theme_light {
  background: #777778;
  opacity: 1;
}

.start-button__theme_light {
  border: none;
  background: black;
  color: white;
}

.swap-theme-button {
  /* position: absolute;
  bottom: -16rem;
  left: 50%;
  margin-left: -2rem; */
  padding: 2rem 2rem;
  background-image: url(@/images/sun.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  transition: background-image 0.3s linear;

  /* Отключение выделения на мобильных устройствах */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swap-theme-button__theme_light {
  background-image: url(@/images/moon.png);
  background-size: 3.5rem;
  cursor: pointer;
}

.burger-menu__button {
  /* outline: 3px red solid; */
}

.pointer {
  background-image: url(@/images/pointer-theme-dark.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 0.5rem;
  transform: translate3d(-50%, -25px, 0);
  height: 4rem;
  width: 4rem;
  z-index: 2;
}

.pointer-theme-dark {
  background-image: url(@/images/pointer-theme-dark.png);
}

.pointer-theme-light {
  background-image: url(@/images/pointer.png);
}

@media (max-width: 1024px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
  .roulette {
    margin: 30rem 0 0 0;
  }
}

@media (max-width: 768px) {
  html {
    font-size: calc(100vw / 500 * 10);
  }

  .page {
    max-width: 95%;
  }

  .roulette {
    margin: 20rem 0 0 0;
  }
}

@media (max-width: 500px) {
  html {
    font-size: calc(100vw / 500 * 10);
  }

  .roulette {
    margin: 30rem 0 0 0;
  }
  .start-button {
    padding: 1.5rem 4rem;
  }

  .list__item {
    width: 30rem;
  }

  .list__chance-color {
    width: 29.7rem;
  }
}

@media screen and (max-width: 480px) {
  .app {
    position: relative;
    background: #1b1f24;
    border-radius: 10px;
  }

  .install-screen {
    display: block;
  }
}

@media (max-width: 375px) {
  html {
    font-size: calc(100vw / 375 * 10);
  }
}

@media all and (display-mode: fullscreen) {
  .install-screen {
    display: none;
  }
}
