<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      rel="icon"
      href="<%= require('./images/random-icon.png') %>"
      type="image/x-icon"
    />
    <link rel="manifest" href="<%= require('./manifest.webmanifest') %>" />
    <title>Random Game</title>
  </head>
  <body class="body">
    <!-- <div class="preloader">
      <div class="loader">
        <div class="tile"></div>
      </div>
    </div> -->

    <div class="popup game-selection">
      <div class="popup-wrapper">
        <div class="header-menu">
          <button class="game-selection__close-button"></button>
          <h3 class="game-selection__title">Библиотека игр</h3>
          <img
            class="header-menu__logo"
            src="<%= require('./images/random-icon_white.png') %>"
            alt=""
          />
        </div>
        <div class="search__wrapper">
          <input
            class="input-game-search"
            type="text"
            placeholder="Найти игру"
          />
          <select class="game-sorting__select" name="game-sorting">
            <option
              class="game-sorting__item"
              value=""
              disabled
              selected
              hidden
            >
              Сортировать по
            </option>
            <option class="game-sorting__item" value="selected-game">
              Выбранные
            </option>
            <option class="game-sorting__item" value="by-name">
              По названию
            </option>
          </select>
        </div>

        <div class="game-library">
          <template id="place-template">
            <article class="game-library__item">
              <img class="game-library__img" src="" alt="" />
              <div class="overlay">
                <img
                  class="overlay-logo"
                  src="<%= require('./images/random-icon_white.png') %>"
                  alt="Logo"
                />
              </div>
            </article>
          </template>
        </div>
      </div>
    </div>

    <!-- <div class="install-screen">
      <img class="icon" src="<%=require('./images/random-icon.png')%>" alt="" />

      <p class="subtitle">Random Game</p>
      <div class="wrapper">
        <button class="download-button">Скачать игру на телефон</button>
      </div>
    </div> -->

    <div class="menu">
      <div class="menu__content">
        <div class="install-screen">
          <button class="menu__close-button"></button>
          <img
            class="icon"
            src="<%=require('./images/random-icon.png')%>"
            alt=""
          />

          <p class="subtitle">Random Game</p>
          <div class="wrapper">
            <button class="download-button">Скачать игру на телефон</button>
          </div>
        </div>
      </div>
    </div>

    <div class="page">
      <header class="header">
        <a class="header__logo" href="#"> Random Game </a>
        <button class="burger-menu__button"></button>
      </header>
      <div class="warning">
        <div class="warning__wrapper">
          <img
            class="warning__img"
            src="<%=require('./images/warning.png')%>"
            alt="!"
          />
          <p class="warning__text">Выберите хотя бы 2 игры</p>
        </div>
      </div>
      <div class="roulette">
        <div class="pointer"></div>
        <div class="app">
          <div class="scope">
            <ul class="list"></ul>
          </div>
        </div>
      </div>
      <div class="buttons-wrapper">
        <button class="start-button">Крутить</button>
        <button class="select-game-button">Библиотека игр</button>
        <button class="swap-theme-button"></button>
      </div>
    </div>
  </body>
</html>
