<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link
      rel="icon"
      href="<%= require('./images/random-icon.png') %>"
      type="image/x-icon"
    />

    <!-- <link rel="manifest" href="./manifest.webmanifest" /> -->
    <link rel="manifest" href="<%= require('./manifest.webmanifest') %>" />
    <title>Random Game</title>
  </head>
  <body class="body">
    <div class="preloader">
      <div class="loader">
        <div class="tile"></div>
      </div>
    </div>

    <div class="install-screen">
      <img class="icon" src="<%=require('./images/random-icon.png')%>" alt="" />

      <p class="subtitle">Random Game</p>
      <div class="wrapper">
        <button class="download-button">Скачать игру на телефон</button>
      </div>
    </div>

    <div class="app">
      <button class="swap-theme-button"></button>
      <div class="pointer"></div>
      <div class="scope">
        <ul class="list"></ul>
      </div>
      <button class="start-button">Крутить</button>
    </div>
  </body>
</html>
